* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  color: white;
  background-color: coral;
  width: 200px;
  height: 300px;
  position: relative;
  cursor: pointer;
  transition: all 0.5s;
}

.card:hover {
  box-shadow: inset 0 0 0 100px yellowgreen;
}

.card i {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -54px;
  margin-top: -48px;
}

.card i:nth-of-type(1) {
  transform: scale(0);
}

.card:hover i:nth-of-type(1) {
  transform: scale(1);
}

.card:hover i:nth-of-type(2) {
  transform: scale(0);
}
